/* COMMONS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    font-family: 'Noto Sans JP', sans-serif;
    color: #3C4043;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 8px 15px;
    border-bottom: 1px solid #f2737383;
    background-color: #ffffff;
}

.logo_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_title span {
    font-size: 20px;
    color: #69636D;
}

.logo_title .image_menu {
    width: 33px;
    vertical-align: middle;
    margin-left: 20px;
    cursor: pointer;
}

.logo_title img {
    width: 80px;
    vertical-align: middle;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 35px;
    padding-bottom: 11px;
    border-bottom: 3px solid #ffffff00;
}
nav li.active {
    border-bottom: 3px solid #3367D9;
}
nav li.active a {
    color: #3367D9;
}

nav a {
    font-size: 15px;
    color: #69636D;
}
nav a:hover {
    color: #69636D;
}

/* MAIN */
main {
    padding-top: 80px;
    margin-top: 90px;
}

main .container {
    width: 65%;
    margin: 0 auto 0 auto;
}

main h2, h3 {
    margin-bottom: 25px;
    font-weight: 500;
}

main p {
    line-height: 1.8;
    margin-bottom: 35px;
    font-size: 14px;
}

main a {
    color: #3367D9;
}
main a:hover {
    color: #3367D9;
}

main ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
main ol.lower_alpha {
    list-style: lower-alpha;
}

main li {
    line-height: 1.8;
    font-size: 14px;
}

/* FOOTER */
footer {
    width: 100%;
    height: 45px;
    background-color: #F5F5F5;
}